html {
  font-size: clamp(0.9rem, calc(0.5rem + 1.5vw), 2.5rem);
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: var(--primary);
}
:root {
  --primary: #1e1e1e;
  --secondary: #757575;
  --tertiary: #b3b3b3;
}
body {
  background-color: #f5f5f5;
}
section {
  margin: 0 6vw;
}

/* === Header === */
header {
  width: 100%;
}
header nav {
  display: flex;
  justify-content: center;
}
header nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  padding: 5vw 0;
}
header nav ul li.active {
  background-color: var(--primary);
  color: #ffffff;
  border-radius: 80px;
  transition: ease-out 150ms;
}
header nav ul li.active:hover {
  transform: scale(0.9);
  opacity: 0.9;
}
header nav ul li a {
  display: block;
  padding: 1.5vw 6vw;
}

/* === Footer === */
footer {
  margin: 0 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer div {
  border-radius: 20px;
  border: 1px #c2c2c2 solid;
  padding: 4vw;
  margin: 8vw 0;
  text-align: center;
  font-size: 1.3rem;
  width: 100%;
  color: #7c7c7c;
}

/* === Home === */

/* === Introduction === */
section.introduction {
  padding: 5vw 0 12vw;
}
section.introduction h1 {
  font-size: 2.85rem;
}
section.introduction h1 span {
  font-weight: bold;
}
section.introduction p {
  font-size: 1.65rem;
  color: #757575;
  margin-top: 5vw;
}
section.introduction p span {
  font-weight: bold;
}

/* === Cards === */
section.cards ul li {
  border: 2px #e5e5e5 solid;
  border-radius: 16px;
  background-color: #ffffff;
  padding: 4vw 6vw;
  margin-bottom: 6vw;
  transition: ease-out 150ms;
}
section.cards ul li:hover {
  background-color: #e5e5e5;
}
section.cards ul li h2 {
  font-size: 2.9rem;
  margin-bottom: 3vw;
  font-weight: bold;
}
section.cards ul li.shopEase img {
  width: 100%;
}
section.cards ul li.shopEase p {
  font-size: 1.225rem;
  font-weight: bold;
}
section.cards ul li.shopEase p span {
  display: inline-block;
  background-color: #f5f5f5;
  border-radius: 80px;
  padding: 2vw 4vw;
  margin: 2vw 3vw 0 0;
}
section.cards ul li.insightly p:nth-of-type(1) {
  color: var(--secondary);
  font-size: 1.5rem;
  margin-top: 2vw;
  margin-bottom: 5vw;
}
section.cards ul li.insightly p:nth-of-type(2){
  font-size: 1.225rem;
  font-weight: bold;
}
section.cards ul li.insightly p span {
  display: inline-block;
  background-color: #f5f5f5;
  border-radius: 80px;
  padding: 2vw 4vw;
  margin: 2vw 3vw 0 0;
}

/* === About === */
section.about {
  padding: 10vw 0 12vw;
}
section.about h1 {
  font-size: 2.85rem;
}
section.about h1 span {
  font-weight: bold;
}
section.about p {
  font-size: 1.65rem;
  color: #757575;
  margin-top: 5vw;
}

/* === Projects === */
section.projects {
  padding: 10vw 0 12vw;
}
section.projects h1 {
  font-size: 2.85rem;
  font-weight: bold;
}
section.projects p {
  font-size: 1.65rem;
  color: #757575;
  margin-top: 5vw;
}

/* === Projects Explore === */
section.explore ul li {
  border: 2px #e5e5e5 solid;
  border-radius: 16px;
  background-color: #ffffff;
  padding: 4vw 6vw;
  margin-bottom: 6vw;
  transition: ease-out 150ms;
}
section.explore ul li:hover {
  background-color: #e5e5e5;
}
section.explore ul li h2 {
  font-size: 2.4567em;
  margin-bottom: 3vw;
  font-weight: bold;
}
section.explore ul li p {
  font-size: 1.225rem;
  color: var(--secondary);
}
section.explore ul li img {
  width: 100%;
}
section.explore ul li div {
  padding: 10vw 5vw;
  display: flex;
  align-items: center;
  background-color: #D8EEBB;
  border-radius: 12px;
}

/* === Connect === */
section.connect {
  padding: 10vw 0 12vw;
}
section.connect h1 {
  font-size: 2.85rem;
  font-weight: bold;
}
section.connect p {
  font-size: 1.65rem;
  color: #757575;
  margin-top: 5vw;
}

/* === Connect Social === */
section.social {
  padding: 8vw 0 6vw;
}
section.social ul {
  display: flex;
  flex-direction: column;
}
section.social ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  border: 2px #e5e5e5 solid;
  border-radius: 16px;
  background-color: #ffffff;
  padding: 3vw 0;
  margin-bottom: 6vw;
  transition: ease-out 150ms;
}
section.social ul li img {
  width: 10vw;
}
section.social ul li span {
  font-size: 1.35rem;
}
section.social ul li:hover {
  background-color: #e5e5e5;
  transform: scale(1.1);
}