/* === IMPORTAÇÃO DE FONTES */

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
/*
Fontes Disponíveis:
// Sugiro usar esta 
font-family: "Urbanist", sans-serif; 
font-family: "Fredoka", sans-serif;
font-family: "Epilogue", sans-serif;
font-family: "Nunito", sans-serif;
font-family: "Oswald", sans-serif;
*/
/* ==========================*/

/* ==== FORMATAÇÃO GERAL === */
html{
    font-size: clamp(1rem, 2vw + 0.8rem, 3rem); 
}
body {
    color: #000000;
    font-family: "Urbanist", sans-serif;
}

/* === header === */
header {
    color: #ffffff;
    text-align: center;
    padding: 6vw 0;
    background-color: #D08AA5;
}
header h1 a {
    display: inline-block;
    width: 70%;
    margin-bottom: 6vw;
    transition: 150ms ease-in-out;
}
header h1 a:hover {
    transform: scale(1.1);
}
header h1 a img {
    width: 100%;
}
header nav ul li {
    font-size: 1.1rem;
    transition: 100ms ease-in-out;
}
header nav ul li:not(:nth-last-of-type(1)) {
    margin-bottom: 4vw;
}
header nav ul li:hover {
    color: #F0D8E1;
    transform: scale(1.05);
}

/* === Footer === */
footer {
    text-align: center;
    color: #ffffff;
    padding: 8vw 0;
    background-color: #D08AA5;
}
footer p {
    font-size: 0.9rem;
    margin-bottom: 2vw;
}
footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}
footer ul li {
    transition: 100ms ease-in-out;
}
footer ul li:hover {
    transform: scale(1.25);
}

/* === Banner === */
section.banner {
    color: #ffffff;
    text-align: center;
    padding: 8vw 12vw;
    background-color: #D08AA5;
}
section.banner h1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 6vw;
}
section.banner h1 span.underline {
    padding-bottom: 0.25vw;
    border-bottom: 2px #ffffff solid;
}
section.banner p:nth-of-type(1) {
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 6vw;
}
section.banner p:nth-of-type(2) a {
    color: #000000;
    font-size: 0.95rem;
    background-color: #ffffff;
    display: inline-block;
    padding: 3vw 6vw;
    border-radius: 10px;
    transition: 100ms ease-in-out;
}
section.banner p:nth-of-type(2) a:hover {
    transform: scale(1.1);
}

/* === Cards === */
section.cards {
    text-align: center;
    padding: 12vw 10vw ;
    background-color: #F0D8E1;
}
section.cards ul li {
    padding: 6vw 4vw;
    background-color: #ffffff;
    width: 75%;
    margin-bottom: 8vw;
    margin-inline: auto;
    border-radius: 10px;
    transition: 200ms ease-in-out;
}
section.cards ul li:hover {
    transform: translateY(-10px) scale(1.025);
}
section.cards ul li img {
    margin-bottom: 3vw;
}
section.cards ul li h3 {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 2vw;
}
section.cards ul li p:nth-of-type(1) {
    font-size: 0.75rem;
    font-weight: 300;
    margin-bottom: 2vw;
}
section.cards ul li p:nth-of-type(2) a {
    font-size: 0.8rem;
    display: inline-flex;
    justify-content: center;
    gap: 1vw;
    transition: 150ms ease-in-out;
}
section.cards ul li p:nth-of-type(2) a:hover {
    gap: 2vw;
}
section.cards ul li.marketing p:nth-of-type(2) a {
    color: #E668B3;
}
section.cards ul li.engagement p:nth-of-type(2) a {
    color: #A07CC5;
}
section.cards ul li.branding p:nth-of-type(2) a {
    color: #F78B77;
}

/* === Reason === */
section.reasons {
    text-align: center;
    padding: 16vw 12vw ;
}
section.reasons > h3 {
    color: #5f5f5fc2;
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 2vw;
}
section.reasons h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 8vw;
}
section.reasons div.reasons-content img {
    margin-bottom: 6vw;
}
section.reasons div.reasons-content div.reasons-text h3 {
    font-size: 1.35rem;
    font-weight: 700;
    margin-bottom: 4vw;
}
section.reasons div.reasons-content div.reasons-text p:nth-of-type(1) {
    font-size: 0.7rem;
    font-weight: 300;
    margin-bottom: 4vw;
}
section.reasons div.reasons-content div.reasons-text p:nth-of-type(2) a {
    color: #ffffff;
    font-size: 0.8rem;
    display: inline-block;
    background-color: #E668B3;
    padding: 3vw 6vw;
    border-radius: 10px;
    transition: 100ms ease-in-out;
}
section.reasons div.reasons-content div.reasons-text p:nth-of-type(2) a:hover {
    transform: scale(0.95);
}

/* MEDIA QUERY - DESKTOP */
@media  screen and (min-width: 600px) {
    header {
        text-align: left;
        padding: 2vw 16vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header h1 a {
        width: 100%;
        margin-bottom: 0;
    }
    header h1 a img {
        width: 100%;
    }
    header nav ul {
        display: flex;
        align-items: center;
        gap: 3vw;
    }
    header nav ul li {
        font-size: 0.35rem;
        margin-bottom: 0;
    }
    header nav ul li:not(:nth-last-of-type(1)) {
        margin-bottom: 0;
    }
    footer {
        padding: 4vw 0;
    }
    footer p {
        font-size: 0.45rem;
        margin-bottom: 0.5vw;
    }
    footer ul {
        gap: 1.5vw;
    }
    section.banner {
        padding: 4vw 0;
    }
    section.banner h1 {
        font-size: 1.3rem;
        margin-bottom: 2vw;
    }
    section.banner h1 span {
        white-space: pre-line;
    }
    section.banner p:nth-of-type(1) {
        font-size: 0.55rem;
        margin-bottom: 3vw;
    }
    section.banner p:nth-of-type(1) span {
        white-space: pre-line;
    }
    section.banner p:nth-of-type(2) {
        margin-bottom: 0;
    }
    section.banner p:nth-of-type(2) a {
        font-size: 0.575rem;
        padding: 1vw 2.25vw;
    }
    section.cards {
        text-align: left;
        padding: 4vw 20vw;
    }
    section.cards ul {
        display: flex;
        justify-content: center;
        gap: 2vw;
    }
    section.cards ul li {
        padding: 2vw;
        background-color: #ffffff;
        width: 100%;
        margin-bottom: 0;
        margin-inline: 0;
    }
    section.cards ul li img {
        margin-bottom: 0.75vw;
    }
    section.cards ul li h3 {
        font-size: 0.55rem;
        font-weight: 700;
        margin-bottom: 0.5vw;
    }
    section.cards ul li p:nth-of-type(1) {
        font-size: 0.4rem;
        margin-bottom: 0;
    }
    section.cards ul li p:nth-of-type(2) a {
        font-size: 0.45rem;
        gap: 0.5vw;
    }
    section.cards ul li p:nth-of-type(2) a:hover {
        gap: 0.75vw;
    }
    section.reasons {
        padding: 4vw 12vw ;
    }
    section.reasons > h3 {
        font-size: 0.35rem;
        margin-bottom: 1vw;
    }
    section.reasons h2 {
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 4vw;
    }
    section.reasons h2 span {
        white-space: pre-line;
    }
    section.reasons div.reasons-content {
        display: flex;
        justify-content: center;
        gap: 4vw;
    }
    section.reasons div.reasons-content img {
        margin-bottom: 0;
    }
    section.reasons div.reasons-content div.reasons-text  {
        text-align: left;
        max-width: 26vw;
    }
    section.reasons div.reasons-content div.reasons-text h3 {
        font-size: 0.55rem;
        margin-bottom: 1vw;
    }
    section.reasons div.reasons-content div.reasons-text p:nth-of-type(1) {
        font-size: 0.4rem;
        margin-bottom: 2vw;
    }
    section.reasons div.reasons-content div.reasons-text p:nth-of-type(2) a {
        font-size: 0.5rem;
        padding: 1vw 2vw;
        border-radius: 8px;
    }
}