html {
  font-size: clamp(1rem, calc(0.5rem + 1vw), 1.625rem);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* === Header === */
header {
  background-color: #FFF2F3;
  text-align: center;
  padding: 1.5vw 8vw;
}
header h1 {
  color: #252B42;
  font-size: 1.5rem;
  font-weight: 700;
}
header nav ul li {
  color: #737373;
  font-size: 0.87rem;
  font-weight: 700;
  margin-top: 1.5vw;
}
header nav ul li a {
  display: inline-block;
  padding: 1.2vw 1.5vw;
  transition: ease-out 150ms;
}
header nav ul li a.join {
  background-color: #96BB7C;
  color: #ffffff;
  border-radius: 5px;
}
header nav ul li a:hover {
  transform: scale(1.1);
}

/* === Footer === */
footer {
  text-align: center;
  padding: 15vw;
}
footer p {
  color: #737373;
  font-weight: 700;
}
footer div.social {
  display: flex;
  justify-content: center;
  gap: 5vw;
  margin-top: 8vw;
}

/* === Banner === */
section.banner {
  text-align: center;
  background-color: #FFF2F3;
  padding: 5vw 5vw;
}
section.banner div {
  margin-top: 5vw;
}
section.banner img {
  width: 80%;
}
section.banner h3 {
  font-weight: 700;
  color: #96BB7C;
}
section.banner h2 {
  font-size: 2.82rem;
  font-weight: 700;
  color: #252B42;
  margin: 3vw 0 10vw;
}
section.banner p {
  font-size: 1.25rem;
  color: #737373;
}
section.banner p a {
  display: inline-block;
  font-size: 1rem;
  padding: 3vw 5vw;
  font-weight: 700;
  margin-top: 3vw;
  transition: ease-out 150ms;
}
section.banner p a:hover {
  transform: scale(1.1);
  color: #ffffff;
}
section.banner p a.join {
  background-color: #96BB7C;
  color: #ffffff;
  border-radius: 5px;
  margin-right: 2vw;
}
section.banner p a.learn {
  background-color: transparent;
  color: #96BB7C;
  position: relative;
  border: 1px #96BB7C solid;
  border-radius: 5px;
}
section.banner p a.learn::after {
  background-color: #96BB7C;
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  transition: width 0.3s ease-out;
  z-index: -1;
}
section.banner p a.learn:hover::after {
  width: 100%;
}
section.banner p a.learn:hover {
  color: #ffffff;
}

/* === Team === */
section.team {
  text-align: center;
  background-color: #ffffff;
  padding: 10vw 5vw;
}
section.team h4 {
  font-size: 0.95rem;
  font-weight: 700;
  color: #96BB7C;
}
section.team h3 {
  font-size: 1.3rem;
  color: #252B42;
  font-weight: 700;
  margin-top: 3vw
}
section.team p {
  color: #737373;
  margin-top: 2vw;
}
section.team ul.cards {
  margin-top: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15vw;
}
section.team ul.cards li.card {
  background-color: #ECF0E8;
  margin: 0 8vw;
  transition: ease-out 150ms;
}
section.team ul.cards li.card:hover {
  transform: translateY(-20px);
}
section.team ul.cards li.card img {
  width: 100%;
}
section.team ul.cards li.card h5 {
  margin-top: 8vw;
  color: #252B42;
  font-size: 1.2rem;
  font-weight: 700;
}
section.team ul.cards li.card p {
  margin: 4vw 0 8vw;
  color: #737373;
  font-size: 0.875rem;
}

/* === Newsletter === */
section.newsletter {
  text-align: center;
  background-color: #FFF2F3;
  padding: 20vw 5vw;
}
section.newsletter h4 {
  font-size: 1;
  font-weight: 700;
  color: #96BB7C;
}
section.newsletter h3 {
  font-size: 1.5rem;
  color: #252B42;
  font-weight: 700;
  margin-top: 5vw
}
section.newsletter p {
  color: #737373;
  margin-top: 3vw;
}

/* === Media Query === */
@media only screen and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw 8vw;
  }
  header nav ul {
    display: flex;
    gap: 1vw;
  }
  header nav ul li {
    margin: 0;
  }
  footer {
    padding: 4vw 6vw;
  }
  footer div.footer-content {
    display: flex;
    justify-content: space-between;
  }
  footer p {
    font-size: 0.8rem;
  }
  footer div.social {
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin: 0;
  }
  section.banner {
    display: flex;
    align-items: center;
    gap: 5vw;
    text-align: left;
    padding: 5vw 8vw 0;
  }
  section.banner div {
    margin-block: auto;
  }
  section.banner h3 {
    font-size: 0.8rem;
  }
  section.banner h2 {
    font-size: 2.5rem;
    margin: 3vw 0 4vw;
  }
  section.banner p {
    font-size: 1rem;
  }
  section.banner p a {
    padding: 1.2vw 3vw;
    font-size: 0.8rem;
    margin-top: 2vw;
  }
  section.team {
    padding: 8vw 15vw;
  }
  section.team div.team-text {
    text-align: left;
  }
  section.team div.team-text h4 {
    font-size: 0.75rem;
  }
  section.team div.team-text h3 {
    font-size: 1.2rem;
    margin-top: 2vw;
  }
  section.team div.team-text p {
    font-size: 0.8rem;
    margin-top: 1vw;
  }
  section.team div.team-text p span {
    white-space: pre-line;
  }
  section.team ul.cards {
    flex-direction: row;
    gap: 2.5vw;
  }
  section.team ul.cards li.card {
    margin: 0;
  }
  section.team ul.cards li.card h5 {
    margin-top: 2.2vw;
    font-size: 0.8rem;
  }
  section.team ul.cards li.card p {
    margin: 1.14vw 0 2.2vw;
    font-size: 0.65rem;
  }
  section.newsletter {
    padding: 8vw 0 12vw;
  }
  section.newsletter h4 {
    font-size: 0.85rem;
  }
  section.newsletter h3 {
    font-size: 1.4rem;
    margin-top: 1.5vw;
  }
  section.newsletter p {
    font-size: 0.8rem;
    margin-top: 1vw;
  }
  section.newsletter p span {
    white-space: pre-line;
  }
}