html {
  font-size: clamp(1rem, calc(0.5rem + 1vw), 1.625rem);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* === Header === */
header {
  background-color: #FFF2F3;
  text-align: center;
  padding: 1.5vw 8vw;
}
header h1 {
  color: #252B42;
  font-size: 1.5rem;
  font-weight: 700;
}
header nav ul li {
  color: #737373;
  font-size: 0.87rem;
  font-weight: 700;
  margin-top: 1.5vw;
}
header nav ul li a {
  display: inline-block;
  padding: 1.2vw 1.5vw;
  transition: ease-out 150ms;
}
header nav ul li a.join {
  background-color: #96BB7C;
  color: #ffffff;
  border-radius: 5px;
}
header nav ul li a:hover {
  transform: scale(1.1);
}

/* === Banner === */
section.banner {
  text-align: center;
  background-color: #FFF2F3;
  padding: 5vw 5vw 0;
}
section.banner div {
  margin-top: 5vw;
}
section.banner h3 {
  font-weight: 700;
  color: #96BB7C;
}
section.banner h2 {
  font-size: 2.82rem;
  font-weight: 700;
  color: #252B42;
  margin: 3vw 0 10vw;
}
section.banner p {
  font-size: 1.25rem;
  color: #737373;
}
section.banner p a {
  display: inline-block;
  padding: 3vw 5vw;
  font-weight: 700;
  margin-top: 3vw;
  transition: ease-out 150ms;
}
section.banner p a:hover {
  transform: scale(1.1);
}
section.banner p a.join {
  background-color: #96BB7C;
  color: #ffffff;
  border-radius: 5px;
  margin-right: 2vw;
}
section.banner p a.learn {
  color: #96BB7C;
  border: 1px #96BB7C solid;
  border-radius: 5px;
}

/* === Media Query === */
@media only screen and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw 8vw;
  }
  header nav ul {
    display: flex;
    gap: 1vw;
  }
  header nav ul li {
    margin: 0;
  }
  section.banner {
    display: flex;
    align-items: center;
    gap: 5vw;
    text-align: left;
    padding: 5vw 10vw 0;
  }
  section.banner h2 {
  font-size: 3.62rem;
  margin: 3vw 0 4vw;
  }
  section.banner p a {
  padding: 1.2vw 3vw;
  margin-top: 2vw;
  }
}